<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="irHome()">DAWII_CL3_SAAVEDRA_VILLANUEVA_ADRIAN_ALBERTO</span>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="irPregunta1()" >Pregunta1</button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="irPregunta2()">Pregunta2</button>

    <span class="example-spacer"></span>

  </mat-toolbar>
  

<hr />
<router-outlet></router-outlet>
